.send-modal {
  position: fixed;
  top: 20%;
  right: 20%;
  padding: 20px;
  border-radius: 10px;
  z-index: 1000;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-actions {
  margin-top: 10px;
}

.send-btn, .close-btn {
  margin: 5px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 200px;
  width: 300px;
}

.send-btn {
  background-color: #4CAF50;
  color: white;
}

.close-btn {
  background-color: #f44336;
  color: white;
}
