.send-modal {
    position: fixed;
    top: 20%;
    right: 20%;
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;
  }
  
  .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .modal-actions {
    margin-top: 10px;
  }
  
  .send-btn, .close-btn {
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 80vw;
    height: 5vh;

  }
  
  .send-btn {
    background-color: green;
    color: white;
  }
  
  .close-btn {
    background-color: red;
    color: white;
  }
  

